.product-header{
    color: #0349fc;
    text-align: center;
    padding-top: 10px;
}

.form-control{
    border: 1px solid #000;
}

.form-label{
    text-align: start;
}

button{
    width: 200px;
    border-radius: 20px;
}